# MATLAB temporary files
*.asv
*.autosave
*.fig~
*.mlx~
*.m~
*.mex*
*.p
*.mat
*.log

# OS files
.DS_Store
Thumbs.db

# MATLAB project
resources/project/*

# Dataset klasörünü ignore et
data/

# Alternatif dataset isimleri
dataset/
datasets/

# Görseller
*.jpg
*.jpeg
*.png
